@model Assignment

<h1 class="display-4 fw-normal text-center mb-5">Details</h1>

<div class="container">
    <h2 class="fw-normal mb-3">@Model.name</h2>
    <div class="card">
        <div class="card-body">
            <form method="post" asp-action="Details">
                <input type="hidden" asp-for="id" />

                <div class="form-group">
                    <label asp-for="name">Name</label>
                    <input asp-for="name" class="form-control" placeholder="Name" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="description">Description</label>
                    <input asp-for="description" class="form-control" placeholder="Description" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="state">State</label>
                    <input asp-for="state" class="form-control" placeholder="State" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="estimateHours">Estimate Hours</label>
                    <input asp-for="estimateHours" class="form-control" placeholder="Address" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="startDate">Start Date</label>
                    <input asp-for="startDate" class="form-control" placeholder="Start Date" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="closingDate">Close Date</label>
                    <input class="form-control" value="@Model.closingDate" readonly>
                </div>

                <div class="form-group">
                    <label>Assigned Programmer</label>
                    <input class="form-control" value="@(Model.AssignedProgrammer?.fname ?? string.Empty) @(Model.AssignedProgrammer?.lname ?? string.Empty)" readonly>
                </div>


                <div class="form-group mt-4">
                    <input type="hidden" asp-for="id" />
                    <div class="form-group mt-4">
                        <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Confirm</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
