@model IEnumerable<Assignment>
@using TaskManagement.Data.Enum


<h1 class="display-4 fw-normal text-center mb-5">Assignments Directory</h1>
<div class="text-center mb-4">
    <a class="btn btn-primary" asp-area="" asp-controller="Assignments" asp-action="Create">Add Assignment</a>
</div>
@using (Html.BeginForm("Index", "Assignments", FormMethod.Get))
{
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate">
        </div>
        <div class="form-group col-md-3">
            <label for="closingDate">Closing Date</label>
            <input type="date" class="form-control" id="closingDate" name="closingDate">
        </div>
        <div class="form-group col-md-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="Programmer name" placeholder="Enter Name">
        </div>
        <div class="form-group col-md-3">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="Programmer surname" placeholder="Enter Surname">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header bg-primary text-white">
                            <h4 class="my-0">@item.name</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Description:</strong> @item.description</p>
                            <p class="card-text"><strong>State:</strong> @item.state</p>
                            <p class="card-text"><strong>Estimate Hours:</strong> @item.estimateHours hrs</p>
                            <p class="card-text"><strong>Start Date:</strong> @item.startDate.ToString("d")</p>
                            @if (item.state != State.Closed)
                            {
                                <p class="card-text"><strong>Close Date:</strong></p>
                            }
                            else
                            {
                                <p class="card-text"><strong>Close Date:</strong> @item.closingDate?.ToString("d")</p>
                            }
                            <p class="card-text"><strong>Parent Assignment:</strong> @item.Parent?.name </p>
                            <p class="card-text">
                                <strong>Assigned Programmer:</strong>
                                @if (item.AssignedProgrammer != null)
                                {
                                    <a>@Html.DisplayFor(modelItem => item.AssignedProgrammer.fname)</a> <a>@Html.DisplayFor(modelItem => item.AssignedProgrammer.lname)</a>
                                }
                                else
                                {
                                    @:
                                }
                            </p>
                            <p class="card-text"><strong>Subtasks:</strong></p>
                            @if (item.Child != null && item.Child.Any())
                            {
                                <ul>
                                    @foreach (var child in item.Child)
                                    {
                                        <li>@child.name - @child.description</li>
                                    }
                                </ul>
                                                        }
                            else
                            {
                                <p>No subtasks</p>
                            }
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <div class="btn-group">
                                    <a asp-controller="Assignments" asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info">View</a>
                                    <a asp-controller="Assignments" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-info">Edit</a>
                                    <a asp-controller="Assignments" asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-info">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
